<div class="container">
<div class="about_page">
  <div class="row">
    <div class="col-sm-4">
      <p>
      <h1>About US</h1>
      This store was established in 2018 and aims to sell all furniture to all parts of the world, with delivery service within 24 hours.
      You can contact us- from here :</p>
      <p>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-snapchat-ghost"></a>
      </p>
      <%= image_tag("about2.jpg", height: '1000', width: '100%' , class: "img-responsive my-image") %>
    </div>
    <div class="col-sm-8"><%= image_tag("about.jpg", height: '1000', width: '100%' , class: "img-responsive my-image") %></div>
  </div>
</div>
</div>

