<div class="container-fluid">

<br>
<%= image_tag("homepage2.jpg", height: '1000', width: '100%' , class: "img-responsive my-image") %>
  <div class="panel panel-default">
    <p> Store now</p>
    </div>
  <div class="row">
    <div class="col-6 col-md-4"><%= image_tag("pro1.jpg", height: '1000', width: '100%' , class: "img-responsive my-image") %></div>
    <div class="col-6 col-md-4"><%= image_tag("pro2.jpg", height: '1000', width: '100%' , class: "img-responsive my-image") %></div>
    <div class="col-6 col-md-4"><%= image_tag("pro3.jpg", height: '1000', width: '100%' , class: "img-responsive my-image") %></div>
  </div>
  </div>