// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product{


  font-family: 'Sumana', serif;

  font-family: 'Roboto Mono', monospace;

  font-family: 'Nunito', sans-serif;

  font-family: 'Arvo', serif;


}
.product_index{
  padding-top: 40px;
}
.show-page{
  padding-top: 40px;
  padding-left: 20px;
  font-family: 'Bitter', serif;

}
.product_page{
  font-family: 'Bitter', serif;
  font-size: 10px;
}